* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'montserrat';
 color: #fff;

}


html, body {

    height: 100%;
    width: 100%;
    /* cursor: none; */

}


/*making a nav container for create a HEADER on the top*/
#nav {
    height: 145px;
    width: 100%;
    display: flex; /*for arrange all element in a row*/
    align-items: center; /*for style item in x-axis*/
    justify-content: flex-start ;/*for style item in y-axis*/
    padding: 0 150px; /*padding upar lower =0, right left = 150*/
    gap: 50px;
    position: fixed; /*for make it fix means any page is render but this header is fixed and show on every page*/
    z-index: 99; /*for making z index visble when video is render then on top header is also render properly*/
    text-align: center;
} 

#nav img{
    height: 75px;
}

#nav h4{
    text-transform: uppercase;  /*for make all letters in uparcase*/
    font-weight: 500;  
}

video{
  height: 100%;
  width: 100%;
  z-index: -1;/*to make video on background*/
  object-fit: cover; /*for fix the video as compare to screen size*/
  position:fixed /* when we scroll down video is still appear in whole page properly*/
}

#main{
    position: relative; /*for overlap a main div on the screen with a light black color on it*/
    background-color: rgba(0, 0, 0, 0.37);

}

#page1{
    height: 100vh;
    width:100%;
    position: relative; /*To make child div related with parent div*/
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;/* To make all element in column because after display:flex all element are in row;*/
    text-align: center;
}


#page1 h1{
    font-size: 140px;
    font-weight: 900;
    position: relative;/* To overlap h1::before on h1*/
    z-index: 10;
}


/* it is sudo element and it is used for make text in style with background shadow and other 3d styling*/
#page1 h1::before{
    content: "EAT.DRINK.PLAY";
    position: absolute;/* To overlap on h1*/
    color: #000;
    top: -6px; /* this style is basically used for shift the text to top and left side as like shadow*/
    left: -6px;
    -webkit-text-stroke: 1px #95C11E; /* to make shadow type boundary in our text style like in one axis color changes*/
    z-index: -1; /* it is used to make this element into back of the another text like (h1before) is below to main (h1)*/
}

#page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}
#page1 p1{
    font-size: 20px;
    font-weight: 500;
    width: 40%;
}
#page2 {
    /* height:100vh; */
    width: 100%;
    z-index: 10;
    min-height: 100vh;
}

#cursor{
    height: 20px;
    width: 20px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#cursor-blur{
    height: 500px;
    width: 500px;
    background-color: #96c11e2a;
    border-radius: 50%;
    position: fixed;
    filter: blur(20px);
    z-index: 9;
}

#scroller{
    white-space: nowrap;
    overflow-x: auto; /* it is used when scroller take large size as compare to the screen and for smooth animation running*/
    overflow-y: hidden; 
    position: relative;
    z-index: 10;
}

#scroller::-webkit-scrollbar{  /* it is used to remove the scroller which is generated by (overflow-x:auto)*/
    display : none;
}

#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll; /* animation name by which animatio is created*/
    animation-duration: 30s; /* it is used to control the speed of animation*/
    animation-timing-function: linear; /* for run the animation continously in a linear form*/
    animation-iteration-count: infinite; /* to run animation in infinite count */
}

#scroller h4 {
    display: inline-block;
    font-size: 100px;
    font-weight: 900;
    font-family: gilroy;
    margin-right: 10px;
    transition: all linear 0.5; /* when hover on h4 then color transition smoothly done in 0.5 */
    color: transparent;
    -webkit-text-stroke:2px #95C11E;
}

#scroller h4:hover{
    color:#95C11E
}


@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}

#aboutus{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 50px;
    position: relative;
    z-index: 10;
    justify-content: space-around;
}

#aboutus img{
    height: 220px;
    width: 220px;
    border-radius: 20%;
    object-fit: cover;

}

#aboutus-in{
    /* display: flex; */
    width: 50%;
    align-items: center;
    text-align: center;
}

#aboutus-in h3{
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 40px;
}

#aboutus-in p{
    font-size: 20px;
    line-height: 26px;
}

#cards {
    height: 60vh;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;
}

.card{     /* for class in div we use ( . ) in place of (#). we use (#) when we use ID in div*/
    height: 80%;
    width: 24%;
    background-size: cover; /* We use these two ( size and position ) when we upload any image in ( card1,card2,card3)*/
    background-position: center; 
    border-radius: 30px;
    overflow: hidden;
    transition: all ease 0.6s; /* it is used for cards image and content on hover after 6 seconds */

}

#card1{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&amp;lossy=1&amp;sharp=1&amp;fit=1024%2C682&amp;ssl=1);
}

#card2{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4.jpg?strip=all&amp;lossy=1&amp;sharp=1&amp;fit=1024%2C1024&amp;ssl=1);
}

#card3{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons.jpg?strip=all&amp;lossy=1&amp;sharp=1&amp;fit=1024%2C682&amp;ssl=1);
}


.content{
    height:100%;
    width: 100%;
    background-color: #95C11E;
    padding: 50px;
    padding-top: 90px;  
    opacity:0;  /* when opacity is 0 then the image is not shown in the screen*/
    transition: all ease 0.6s; /* it is used for card and content show in 6 sec.*/
}

.content h4 {
    color: #000;
    font-size: 30px;
    margin-bottom: 10px;
    /* font-weight: 1000; */
}

.content p {
    color: #000;
    font-size: 15px;
}

.card:hover .content{  /* it is used for show content rether than image after hovering on it*/
    opacity:1;  /* opacity 1 means content is show after hover */
}

.card:hover{
    transform: rotate3d(1,1,0,20deg); /* it is used for tilt our div (1,1,0) these are use for x-axis,y-axis,z-axis*/
}

#greencontainer{
    background : linear-gradient(to left bottom, #119F3A,#ACE022);
    justify-content: space-between;
    height: 30vh;
    display: flex;
    align-items: center;
}

#greencontainer h4{
    /* height: 50%; */
    width: 45%;
    line-height: 33px;
    font-size: 27px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center; 
    align-items: center;
    color: #000;


}

#greencontainer img{
    height: 100%;
    object-fit: cover;
    width: 14%;
}


#page3{
    height: 100vh;
    width: 100%;
    background-color: #000;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}

#page3>p{
    /* align-items: center;
    justify-content: center; */
    font-size: 30px;
    width: 50%;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
}

#page3 img{
    position: absolute;
    height: 60px;
    width:100%;
}

#page3 #colon1{
    left: -30%;
    top: 30%;
}

#page3 #colon2{
   bottom: 30%;
    right: -30%;
}


#page4 {
    height: 50vh;
    width: 100%;
    /* background-color: red; */
    display:flex;
    justify-content: center;
    align-items: center;
    /* gap:70%; */
}

.elem{
    height: 70%;
    width:20%;
    overflow: hidden;
}
